@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

html
{
	font-size: 62.5%;
}

body
{
	font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size: 1.8rem;
	line-height: 2.0;
	letter-spacing: .1em;
	color: #4c4c4c
}
.background-image{
  background-image: url("../images/img_photo.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 100%;
}
body
{background-color: #ffff;
}
h1{
	font-weight:  800;
	margin: 0;padding: 0;
	text-align: center
}
.box{
	border: 1px solid #fff;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction:row;
}
#box1{
  background: #2ee68a;
  width: 33%;
  height: 250px;
  margin: 10px;
}
#box2{
  background: #ffff4d;
  width: 33%;
  height: 250px;
  margin: 10px;
}
#box3{
  background: #80ffd5;
  width: 33%;
  height: 250px;
  margin: 10px;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.title {
 background: #dadacb;
}
footer{
	background: skyblue;
	height: 120px;
	width:100%;
	margin:0 auto;
}
.text{
	font-size: 18px;
	border: 1px solid #fff;
	margin: auto;
}
.button{
	width: 130px;
	height: 30px;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	color: #ffffff;
	background: #008ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
p{margin: 0;padding: 0;
 text-align: center;
}
@media (max-width: 768px) {
.background-image{
	height: 250px;
  }
.box{
	flex-direction: column;
	display: block;
	margin: 0 auto;
 }
#box1,#box2,#box3{
 width:80%;
 margin: 0 auto;
 margin-bottom: 10px;
}
}
@media (min-width: 769px) {
  .background-image{
	height: 500px;
}
.box{
	display: flex;
	flex-direction:row;
}
#box1{
  background: #2ee68a;
  width: 33%;
  height: 250px;
  margin: 10px;
}
#box2{
  background: #ffff4d;
  width: 33%;
  height: 250px;
  margin: 10px;
}
#box3{
  background: #80ffd5;
  width: 33%;
  height: 250px;
  margin: 10px;
}  
}



  